
:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

.heroImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.overLay{
  border-image:
    linear-gradient(
      hsl(240 100% 20% / .6),
       hsl(0 100% 20% / .6)
    )
    fill 1 ;
}

h1{
  text-align: center;
}

h2{
  text-align: center;
}

h3{
  text-align: center;
}

.navbar{
  color:white;
  overflow: auto;
  display: flex;
  width:100%;

}


.nav-link{
  display: inline-block;
  background-color: #66acc7;
  text-align: center; 
  padding: 10px 24px; 
  margin:10px;
  text-decoration:none;
  color:black;
  font-size: large;
  border-radius:10px;


}

.nav-link:hover {
  background-color: #a6c8f0;}



.banners{
  background-color: #6FB3B8;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 12px;
}

#header-title{
  background-color: #6FB3B8;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 12px;

}

html{
  background-color:whitesmoke
}

.login-sections{
  background-color: #c2edce;
  text-align: center;
  display:"inline-block";
  padding-bottom: 15px;
  border-radius: 12px;
}

.action-btn{
  background-color: #6FB3B8;;
  font-size: large;
  border-color:#6FB3B8 ;
  border-radius: 5px;
  font-weight: bold;
  
  
}

.mini-action-btn{
  background-color: #6FB3B8;;
  font-size: small;
  border-color:#6FB3B8 ;
  border-radius: 5px;
  font-weight: bold;
  
}

#logout{
  padding:10px;}
  

form{
  text-align: center;
  font-size: large;
}

.student-card{
  background-color: #badfe7;
  text-align: center;
  padding: 15px;
  
  border-radius: 12px;
  display: inline-table;
  margin:10px;
}

.student-name{
  background-color: #badfe7;
  font-weight: bold;
  font-size: large;
}

.quiz-title{
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 5px;

}

#quiz-status{
  background-color: #6FB3B8;;
  padding: 10px;
  border-radius: 5px;
}

#section-selector{
  font-size: large;
}

.labels{
  font-size: large;
  padding-left: 20px;
}

.mini-nav-link{
  background-color: pink;
}


.mini-nav-link{
  background-color: #c2edce;
  text-align: center; 
  padding: 10px 24px; 
  margin:5px;
  text-decoration:none;
  color:black;
  font-size: medium;
  border-radius:10px;
  cursor: pointer;


}

.mini-nav-link:hover {
  background-color: #a6c8f0;}

  table, th, td {
    border: 1px solid;
    text-align: center;
  }

table{
    width:100%;
    border-collapse: collapse;
}

th{
    background-color: #badfe7;
}

td{
    padding:5px
}

#student-login-card-container{
  display: inline-block;

}
#student-login-card{
  background-color: #badfe7;
  text-align: center;
  padding: 15px;
  border-radius: 12px;
  display: inline-block;
  margin:10px;
}


.assingment-card{
  text-align: center;
  border-color: black;
  border-radius: 12px;
  border-width: 5px;

}

#student-names-container{
  flex-wrap: wrap;
  text-align: center;
  ;
}

.assingment-card-container{
  display: table-cell;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border-radius: 12px;
  border-width: 5px;
}

#student-assignment-container{
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: 10px;
  border-radius: 12px;
  border-width: 5px;
}

.quiz-assignment-card{
  background-color:white;
  text-align: center;
  padding: 15px;
  border-radius: 12px;
  display: inline-block;
  margin:10px;
  border-width: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-color: yellow;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-size: large;
}
.assigned{
  text-align: center;
  background-color: rgb(115, 115, 209);
  border-color : rgb(115, 115, 209);;
  border-radius: 12px;
  border-width: 5px;
  font-size:large;}

.attempted{
  text-align: center;
  background-color: yellow;
  border-color : yellow;
  border-radius: 12px;
  border-width: 5px;
  font-size:large;
}
.completed{
  text-align: center;
  background-color: rgb(77, 168, 77);
  border-color : rgb(77, 168, 77);
  border-radius: 12px;
  border-width: 5px;
  font-size:large;
}
.quiz-container{
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: 10px;
  border-radius: 12px;
  border-width: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
.results-container{
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: 10px;
  border-radius: 12px;
  border-width: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}

#quiz-display-container{
  background-color: #badfe7;
  padding: 15px;
  border-radius: 12px;
  margin:10px;
  font-size: large;
  text-align: center;
}

.quiz-display-question-container{
  margin: 10px;
  border-radius: 12px;
  padding: 10px;
  background-color: white;
  border-width: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}
.correct{
  background-color: rgb(124, 184, 124);
  color: white;
  border-radius: 12px;
  border-width: 5px;
  border-color: rgb(124, 184, 124);
  font-size: large;
  padding: 10px;
  margin: 10px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.incorrect{
  background-color:white;
}

form{
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  background-color:#badfe7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  font-size:large ;
}

input{
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #6FB3B8;
  font-size: medium;
}

label{
  font-size: large;
  margin-bottom: 10px;
  
}
/* .student-names-container{
  display:table-cell;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: 10px;
  border-radius: 12px;
  border-width: 5px;
  background-color: red;
  width: 80%;
} */


.assignment-card {
  background-color: white;
  text-align: center;
  padding: 15px;
  border-radius: 12px;
  margin: 10px auto; 
  border-width: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-color: yellow;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-size: large;
  }

  .assignments-by-quiz-container{
    background-color:#66acc7;
    display: inline-block;
    justify-content: center;
    padding: 15px;
    margin: 10px;
    border-radius: 12px;
    border-width: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-size: large;
    text-align: center;
  }

  .asignment-quiz-title{
    font-size: x-large;
    margin-bottom: 10px;
  }

  .container{
    display: flex;
    align-items: flex-start ;
    padding-top: 5px;
    flex-wrap: wrap; 
  }